body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 300px;
}

#button-area {
    width: 100%
}

ul#list {
    list-style: none;
    padding: 0px 20px 0px 20px;
}

#list li {
    margin: 3px;
}

li#title {
    font-weight: bold;
}

li span.num {
    float: right;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: rgba(222,222,222,.5);
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #fff;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-button {
    display: none;
}