body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 400px;
}

#button-area {
    width: 100%
}

ul#list {
    list-style: none;
    padding: 0px 20px 0px 20px;
}

#list li {
	display: flex;
    margin: 3px;
}

#list li:nth-child(2)
{
background:#ff0000;
}

li#title {
    font-weight: bold;
}
span {
	font-size: 16px;
}
li span {
    text-align: center
}

li span.rank {
    width: 15%
}

li span.url {
    width: 60%
}

li span.num {
    width: 15%
}

i.remove{
	width: 10%;
	font-size: 16px;
	cursor:pointer;
    padding-top: 4px;
    text-align: center
}

li:hover{
	color:red;
}

li#title:hover{
	color:black;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: rgba(222,222,222,.5);
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
    background: #fff;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-button {
    display: none;
}